<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.processone.awc" android:versionCode="1"
	android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="3" />
	<application android:label="@string/app_name"
		android:name="OneWave" android:icon="@drawable/wave_icon" android:debuggable="true">
		<activity android:label="@string/app_name"
			android:launchMode="singleInstance" android:name="OAuthRedirect">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:launchMode="singleInstance" android:name="CallbackOAuth"
			android:permission="android.permission.INTERNET">
			<intent-filter>
				<data android:host="auth" android:scheme="onewavetest"></data>
				<category android:name="android.intent.category.DEFAULT"></category>
				<action android:name="android.intent.action.VIEW"></action>

				<category android:name="android.intent.category.BROWSABLE"></category>
			</intent-filter>
		</activity>
		<activity android:name="Waves">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"></category>

				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		</activity>
		<activity android:name="WaveList">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"></category>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		</activity>
		<activity android:name="WaveletList">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"></category>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		
</activity>
	<activity android:name="NewWave"><intent-filter><action android:name="android.intent.action.VIEW"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity>
</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 